"rds" : {
    "instancetype" : {
        "name" : "db.m5large(2 vcpus,8gib)",
        "price"  : "$67.68"
      },
     "databaseengine" : {
        "name" : "oracle",
        "price" : "0"
     },
     "storage" :
     {
        "name" : "gp2,100gb",
        "price": "$11.5"
     },
     "backup-storage" :
     {
        "name" : "7 day retention",
        "price" : "$2.33"
     },
     "data transfer" : {
        "name" : "100gb outbound",
        "price" : "$10"
     }
},
"KMS" : {
    "ckms" : {
        "name" : "5 keys",
        "price"  : "$5"
      },
     "encryption" : {
        "name" : "1000 requests",
        "price" : "$ 0.03"
     },
     "decryption" :
     {
        "name" : "1000 requests",
        "price": "$0.03"
     }
},
"lambda" : {
    "no of requests" : {
        "name" : "1000000",
        "price"  : "$0"
      },
     "execution time" : {
        "name" : "100ms",
        "price" : "$0"
     },
     "memory" :
     {
        "name" : "128gb",
        "price": "$0"
     }
},
"back up vault" : {
    "cold storage" : {
        "name" : "500gb",
        "price"  : "$10"
      },
     "warm storage" : {
        "name" : "200gb",
        "price" : "$5"
     },
     "retrival" :
     {
        "name" : "50gb",
        "price": "$1"
     }
},
"ec2 instance" : {
    "instancetype" : {
        "name" : "t2.micro",
        "price"  : "$7.792"
      }
},
"ebs": {
    "size" : {
        "name" : "gp3(50gb)",
        "price"  : "$4"
      }
},
"cloudwatch" : {
    "log data ingestion" : {
        "name" : "50GB",
        "price"  : "$25"
      },
     "log data storage" : {
        "name" : "100GB",
        "price" : "$3"
     }
},
"secrets-manager" : {
    "secrets stored" : {
        "name" : "10",
        "price"  : "$4"
      },
     "API Requests" : {
        "name" : "100,000",
        "price" : "$0.5"
     },
},
"s3" : {
    "standard" : {
        "name" : "50gb",
        "price"  : "$3.2"
      },
     "GET requests" : {
        "name" : "1000",
        "price" : "$0.4"
     },
     "PUT requests" :
     {
        "name" : "1000",
        "price": "$5"
     }
},
"ALB" : {
    "fixed cost" : {
        "name" : "fixed",
        "price"  : "$16.2"
      },
     "data transfer out" : {
        "name" : "100GB",
        "price" : "$8.91"
     },
},
"NLB" : {
    "fixed cost" : {
        "name" : "fixed",
        "price"  : "$16.2"
      },
     "data transfer out" : {
        "name" : "100GB",
        "price" : "$9"
     },
},
"ECS" : {
    "EC2 instance" : {
        "name" : "2(t2.micro)",
        "price"  : "$16.7"
      },
     "data transfer" : {
        "name" : "100GB",
        "price" : "$9"
     },
}
